.container{
    padding: 16px;
}

.top-section{
    padding-left: 600px;
    padding-top: 100px;
}

.site-main .top-section h1{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}


